<ul class="list-group">
	<li *ngIf="!crud_operation.is_visible" class="list-group-item d-flex justify-content-between align-items-center mt-2">
		<h3>Todo List</h3>
		<button class="btn btn-success" (click)="new()">
			<i class="fas fa-plus"></i>
		</button>
	</li>
	<li *ngIf="crud_operation.is_visible" class="list-group-item">
		<app-task-detail [task]="current_task" [parent]="this"></app-task-detail>
	</li>
	<li *ngIf="!tasks" class="list-group-item d-flex justify-content-between align-items-center">
		No tasks available :(
	</li>
  	<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let task of tasks">
		{{task.description}}
		<div *ngIf="!task.confirm">
			<button class="btn btn-warning" (click)="edit(task)">
				Edit
				<i class="fas fa-pen"></i>
			</button>
			<button class="btn btn-danger" (click)="task.confirm = true">
				Delete
				<i class="fas fa-trash-alt"></i>
			</button>
		</div>
		<div *ngIf="task.confirm">
			<button class="btn btn-danger" (click)="task.confirm = false">
				Cancel
			</button>
			<button class="btn btn-success" (click)="delete(task)">
				Confirm
			</button>
		</div>
	</li>
</ul>
